<script>
  $('#bare_metal').addClass('active');
</script>
<header class="jumbotron subhead">
  <h1>Bare Metal</h1>
  <p class="lead">All of your physical hardware will show up here as it registers.</p>
</header>
<% locations.each do |location| %>
  <section id="<%= html_id(location.common_name) %>">
    <div class="page-header">
      <h3><%= location.common_name.upcase %> <small><%= location.city.downcase %>, <%= location.state.downcase %></small></h3>
    </div>
    <table class="table table-condensed table-bordered table-striped">
      <thead>
        <tr>
          <th>Brand</th>
          <th>Model</th>
          <th>Serial Number</th>
          <th>Primary Mac Address</th>
          <th>Nodes</th>
        </tr>
      </thead>
      <tbody>
        <% location.devices.each do |device| %>
          <tr>
            <td><%= device.brand.human_empty %></td>
            <td><%= device.model.human_empty %></td>
            <td><code><%= device.serial_number %></code></td>
            <td><code><%= device.primary_mac_address %></code></td>
            <td>
              <ul class="unstyled">
                <% device.nodes.each do |node| %>
                  <li><%= display_node_with_badges(node) %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
<% end %>
