<div class='row-fluid'>
  <div class="page-header">
    <h1>Overview</h1>
    <p class="lead">Currently watching out for <b><%= @active_node_count %></b> nodes</p>
  </div>
  <div class='span4 well' style="margin: 6px">
  <% if @devices_to_be_provisioned && @devices_to_be_provisioned.size > 0 %>
    <% model_counts = @devices_to_be_provisioned.reduce({}) do |m, object| %>
      <% m[[object.model, object.location.common_name]] ||= 0 %>
      <% m[[object.model, object.location.common_name]] += 1 %>
      <% m %>
    <% end %>
    <div class='unit'>
      <h3>New devices</h3>
      <table class='table table-condensed table-striped'>
        <tr>
          <th>Model</th>
          <th>Location</th>
          <th>Count</th>
        </tr>
        <% model_counts.each do |k,v| %>
          <tr>
            <td><%= k[0] %></td>
            <td><%= k[1] %></td>
            <td><%= v %></td>
          </tr>
        <% end -%>
      </table>
      <p class='pull-right'><a href="/devices/new">show all</a></p>
    </div>
  <% end %>
  </div>
  <div class='span4' style="margin: 6px">
  <% if @new_nodes && @new_nodes.size > 0 %>
    <div class='well'>
      <h3>New nodes</h3>
      <div class="chart-container" style="margin: 0; margin-bottom: 10px; margin-top: 10px">
        <div class="chart" id="node-creation-by-date-chart"></div>
        <div class="y-axis" id="node-creation-by-date-chart-y-axis"></div>
      </div>
      <table class='table table-condensed table-striped'>
        <% @new_nodes.each do |node| %>
          <tr>
            <td><%= node.to_link %></td>
          </tr>
        <% end %>
      </table>
      <p class='pull-right'><a href="/nodes/new">show all</a></p>
    </div>
  <% end %>
  <% if @inactive_nodes && @inactive_nodes.size > 0 %>
    <div class='well'>
      <h3>Dead nodes</h3>
      <table class='table table-condensed table-striped'>
        <% @inactive_nodes.each do |node| %>
          <tr>
            <td><%= node.to_link %></td>
          </tr>
        <% end %>
      </table>
      <p class='pull-right'><a href="/nodes/dead">show all</a></p>
    </div>
  <% end%>
  </div>
  <div class='span4' style="margin: 6px">
  <% if @recent_events && @recent_events.size > 0 %>
    <div class='well'>
      <h3>Recent events</h3>
      <div class="chart-container" style="margin: 0; margin-bottom: 10px; margin-top: 10px">
        <div class="chart" id="events-chart"></div>
        <div class="y-axis" id="events-chart-y-axis"></div>
      </div>
      <table class='table table-condensed table-striped'>
        <% @recent_events.each do |event| -%>
          <tr>
            <td><%= event.rendered_message %> <small class="pull-right muted"><%= event.time_ago %></small></td>
          </tr>
        <% end -%>
      </table>
      <p class='pull-right'><a href="/events">show all</a></p>
    </div>
  <% end %>
  </div>
</div>
<script>
      var eventSeries = jQuery.parseJSON('<%= rickshaw_series_event_types_by_day(10) %>');
      var palette = new Rickshaw.Color.Palette();
      $.each(eventSeries, function() {
        if (this.color === undefined) {
          this.color = palette.color()
        }
      });
      Rickshaw.Series.zeroFill(eventSeries);

      var nodesByDaySeries = [{
        name: 'nodes',
        color: 'steelblue',
        data: <%= rickshaw_data_node_creation_by_day(10) %>
      }]

      var graphOptions = {
        renderer: 'line',
        width: 300,
        height: 50,
        xAxis: false,
        yAxis: false,
      };

      var nodesByDayGraph = createGraph('node-creation-by-date', nodesByDaySeries, graphOptions);
      var eventsGraph = createGraph('events', eventSeries, graphOptions);

      nodesByDayGraph.render();
      eventsGraph.render();
</script>
