<div class='row-fluid'>
  <div class='span7'>
    <div class="page-header">
      <h1>Overview</h1>
      <p class="lead">Currently watching out for <b><%= @active_node_count %></b> nodes</p>
    </div>
    <h3>Active nodes over time</h3>
    <div id="active-nodes-over-time" style="margin-top: 20px; margin-left: 80px; margin-bottom: 20px"></div>
    <h3>Node creation by day</h3>
    <div id="nodes-by-day" style="margin-top: 20px; margin-left: 80px; margin-bottom: 20px"></div>
    <script>
      var nodes_data = <%= rickshaw_data_node_creation_by_day %>;
      var nodes_graph = new Rickshaw.Graph( {
              element: document.querySelector("#nodes-by-day"),
              width: 580,
              height: 150,
              renderer: 'bar',
              series: [ {
                      color: 'steelblue',
                      data: nodes_data
              } ]
      } );
      var x_axis = new Rickshaw.Graph.Axis.Time( { graph: nodes_graph } );
      nodes_graph.render();

      var active_nodes_data = <%= rickshaw_data_active_nodes_over_time %>;
      var active_nodes_graph = new Rickshaw.Graph( {
              element: document.querySelector("#active-nodes-over-time"),
              width: 580,
              height: 150,
              series: [ {
                      color: 'steelblue',
                      data: nodes_data
              } ]
      } );

      var active_nodes_x_axis = new Rickshaw.Graph.Axis.Time( { graph: active_nodes_graph } );
      active_nodes_graph.render();
    </script>
  </div>
  <div class='span4'>
  <% if @recent_events && @recent_events.size > 0 %>
    <div class='well'>
      <h3>Recent events</h3>
      <table class='table table-condensed table-striped'>
        <% @recent_events.each do |event| -%>
          <tr>
            <td><%= event.rendered_message %></td>
          </tr>
        <% end -%>
      </table>
      <p class='pull-right'><a href="/events">show all</a></p>
    </div>
  <% end %>
  <% if @inactive_nodes && @inactive_nodes.size > 0 %>
    <div class='well'>
      <h3>Dead nodes</h3>
      <table class='table table-condensed table-striped'>
        <% @inactive_nodes.each do |node| %>
          <tr>
            <td><a href="/node/<%= node.id %>"><%= node.hostname %></a></td>
            <% if is_admin? %>
              <td>
                <form method="post" action="/node/<%= node.id %>" class="form-inline" style="float: left; margin: 0 0 0 5px;"><input type="hidden" name="_method" value="delete"><button type="submit" class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i>Delete</button></form>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
      <p class='pull-right'><a href="/nodes/dead">show all</a></p>
    </div>
  <% end%>
  <% if @new_nodes && @new_nodes.size > 0 %>
    <div class='well'>
      <h3>New nodes</h3>
      <table class='table table-condensed table-striped'>
        <% @new_nodes.each do |node| %>
          <tr>
            <td><a href="/node/<%= node.id %>"><%= node.hostname %></a></td>
          </tr>
        <% end %>
      </table>
      <p class='pull-right'><a href="/nodes/new">show all</a></p>
    </div>
  <% end %>
  <% if @devices_to_be_provisioned && @devices_to_be_provisioned.size > 0 %>
    <div class='well'>
      <h3>New devices</h3>
      <table class='table table-condensed table-striped'>
        <% @devices_to_be_provisioned.each do |device| -%>
          <tr>
            <td><a href="/devices/<%= device.id %>"><%= device.serial_number %></a></td>
          </tr>
        <% end -%>
      </table>
      <p class='pull-right'><a href="/devices/new">show all</a></p>
    </div>
  <% end %>
</div>
</div>
