<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='en' http-equiv='content-language'>
    <title>Optopus</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/datatable_bootstrap.css">
    <link rel="stylesheet" href="/rickshaw/rickshaw.css">
    <link href="/css/jquery-ui-1.8.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery-1.7.1.min.js"></script>
    <script src="/js/jquery-ui-1.8.min.js"></script>
    <script src="/js/jquery.validate-1.10.0.min.js"></script>
    <script src="/js/jquery.validate-additional-methods-1.10.0.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/rickshaw/d3.min.js"></script>
    <script src="/rickshaw/d3.layout.min.js"></script>
    <script src="/rickshaw/rickshaw.js"></script>
    <script src="/js/libs/jquery.hotkeys.js"></script>
    <script src="/js/libs/jquery.dataTables.js"></script>
    <script src="/js/datatable_bootstrap.js"></script>
    <script>
      function load_util(path) {
        $.get(path, function(data) {
          $('#utils').html(data);
          $('#utils').modal('show');
        });
      }
      $('.subnav').scrollspy();
      $('.dropdown-toggle').dropdown();
      $('#utils').modal();
      $(function () {
        $('#search-query').focus(function() {
          $(this).select();
        });
      });
      $(document).bind('keyup', '/', function() {
        $('#search-query').focus();
      });
      $(document).bind('keyup', 'f', function() {
        $('#search-query').focus();
      });
      $(document).bind('keyup', 't', function() {
        $('#dt-filter-tables').focus();
      });

      function createGraph(name, series, opts) {
        opts = opts || {};
        graphRenderer = opts.renderer || 'stack';
        graphWidth = opts.width || 580;
        graphHeight = opts.height || 150;
        yAxis = opts.yAxis
        xAxis = opts.xAxis
        if (yAxis === undefined) {
          yAxis = true;
        }
        if (xAxis === undefined) {
          xAxis = true;
        }
        var graph = new Rickshaw.Graph({
          element: document.getElementById(name + '-chart'),
          width: graphWidth,
          height: graphHeight,
          renderer: graphRenderer,
          series: series
        });

        var hoverDetail = new Rickshaw.Graph.HoverDetail( {
          graph: graph,
          formatter: function(series, x, y) {
            var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
            var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
            var content = swatch + series.name + ": " + parseInt(y) + '<br>' + date;
            return content;
          }
        });

        if (xAxis) {
          var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );
        }

        if (yAxis) {
          var y_axis = new Rickshaw.Graph.Axis.Y({
            graph: graph,
            orientation: 'left',
            element: document.getElementById(name + '-chart-y-axis'),
          });
        }

        return graph;
      }
    </script>
  </head>
  <body data-spy="scroll" data-target=".subnav">
    <div class='navbar navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container-fluid'>
          <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </a>
          <a class='brand' href='/'>Optopus</a>
          <div class='nav-collapse'>
            <ul class='nav'>
              <li id='bare_metal'>
                <a href='/bare_metal'>Bare Metal</a>
              </li>
              <li id="nodes">
                <a href='/nodes'>Nodes</a>
              </li>

              <li class="dropdown" id="networks">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Networks<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/networks">Subnets</a></li>
                  <li><a href="#" onclick='window.open("<%= base_url%>/network-weathermap", "_blank", "type=fullWindow, fullscreen");'>Weathermap</a></li>
                </ul>
              </li>

              <li id="reports">
                <a href='/reports'>Reports</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/events/network">Network Events</a></li>
                  <li><a href="/events/provision">Provision Events</a></li>
                  <li><a href="/events">Other Events</a></li>
               </ul>
              </li>
              <% navlink_sections.each do |nav_link| %>
                <%= nav_link.to_html %>
              <% end %>
            </ul>
            <ul class="nav pull-right">
              <%= display_login_or_logout %>
            </ul>
            <ul class="nav pull-right">
              <form class="form-search" style="margin: 0" action="/search">
                <input type="text" class="input-medium search-query" id="search-query" name="query" placeholder="hit / or f for search">
                <button type="submit" class="btn"><i class="icon-search"></i></button>
              </form>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Utilities<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#" onclick="load_util('/util/hypervisor_planner/form'); return false">Hypervisor Planner</a></li>
                  <% utility_menu_sections.each do |section| %>
                    <% section.links.each do |link| %>
                      <li><a href="<%= link[:href] %>"><%= link[:display] %></a></li>
                    <% end %>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%= erb :subnav %>
    <div class="container-fluid content">
      <%= erb :flashes %>
      <%= yield %>
    </div>
  </body>
  <div id="utils" class="modal hide"></div>
</html>
