<% if @location %>
  <div class="row-fluid">
    <% if is_admin? %>
      <div class="span2">
        <ul class="nav nav-list">
          <li class="nav-header">Location Actions</li>
          <li><a href="#" onclick="load_util('/admin/location/<%= @location.id %>/edit')"><i class="icon-pencil"></i>Modify this location</a></li>
        </ul>
      </div>
    <% end %>
    <div class="span10">
      <header class="jumbotron subhead">
        <h1>Location <%= @location.common_name %></h1>
        <p class="lead">This location has <%= @location.nodes.count %> nodes.</p>
      </header>

      <% if @location.hypervisors.size > 0 %>
        <section id="hypervisor-resources">
          <div class="page-header">
            <h3>Hypervisor Resources</h3>
          </div>
          <table class="table table-condensed">
            <tr>
              <td style="width: 150px">CPU Utilization (<%= @location.hypervisor_utilization[:cpu] %>%)</td>
              <td>
                <div class="progress <%= progress_style(@location.hypervisor_utilization[:cpu]) %>">
                  <div class="bar" style="width: <%= @location.hypervisor_utilization[:cpu] %>%"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 150px">RAM Utilization (<%= @location.hypervisor_utilization[:memory] %>%)</td>
              <td>
                <div class="progress <%= progress_style(@location.hypervisor_utilization[:memory]) %>">
                  <div class="bar" style="width: <%= @location.hypervisor_utilization[:memory] %>%"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 150px">Disk Utilization (<%= @location.hypervisor_utilization[:disk] %>%)</td>
              <td>
                <div class="progress <%= progress_style(@location.hypervisor_utilization[:disk]) %>">
                  <div class="bar" style="width: <%= @location.hypervisor_utilization[:disk] %>%"></div>
                </div>
              </td>
            </tr>
          </table>
        </section>
      <% end %>

      <% if @location.devices.size > 0 %>
        <% model_array = [] %>
        <% @location.devices.each do |device| %>
          <% if device.model.nil? %>
            <% entry = "No Model" %>
          <% else %>
            <% entry = device.model.strip %>
          <% end %>
          <% model_array.push(entry) %>
        <% end %>
        <h4>Device Counts</h4>
        <table class="table table-condensed table-striped table-sort-no-filter-input">
          <tr>
            <th width="75%">Model</th>
            <th>Count</th>
          </tr>
          <% model_array.reduce(Hash.new(0)) do |memo,object| %>
            <% memo[object] += 1 %>
            <% memo %>
          <% end.each do |key,value| %>
            <tr>
              <td><%= key %></td>
              <td><%= value %></td>
            </tr>
          <% end %>
        </table>
      <% end %>

      <% if @location.network_nodes.size > 0 %>
        <section id="network-nodes">
          <div class="page-header">
            <h3>Network Nodes</h3>
          </div>

          <% model_array = [] %>
          <% @location.network_nodes.each do |device| %>
            <% model_array.push(device.facts["boardmanufacturer"]) %>
          <% end %>
          <h4>Device Counts</h4>
          <table class="table table-condensed table-striped table-sort-no-filter-input">
            <tr>
              <th width="75%">Model</th>
              <th>Count</th>
            </tr>
            <% model_array.reduce(Hash.new(0)) do |memo,object| %>
              <% memo[object] += 1 %>
              <% memo %>
            <% end.each do |key,value| %>
              <tr>
                <td><%= key %></td>
                <td><%= value %></td>
              </tr>
            <% end %>
          </table>
        </section>
      <% end %>

      <% if @location.hypervisors.size > 0 %>
        <section id="hypervisor-nodes">
          <div class="page-header">
            <h3>Hypervisors</h3>
          </div>

          <% model_array = [] %>
          <% @location.hypervisors.each do |device| %>
            <% model_array.push(device.facts["productname"]) %>
          <% end %>
          <h4>Device Counts</h4>
          <table class="table table-condensed table-striped table-sort-no-filter-input">
            <tr>
              <th width="75%">Model</th>
              <th>Count</th>
            </tr>
            <% model_array.reduce(Hash.new(0)) do |memo,object| %>
              <% memo[object] += 1 %>
              <% memo %>
            <% end.each do |key,value| %>
              <tr>
                <td><%= key %></td>
                <td><%= value %></td>
              </tr>
            <% end %>
          </table>
        </section>
      <% end %>
    </div>
  </div>
<% end %>
