<% if @location %>
  <form method="post" action="/admin/location/<%= @location.id %>/edit" class="form-horizontal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Edit Location <%= @location.common_name %></h3>
    </div>

    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="location-name">Name</label>
        <div class="controls">
          <input id="location-name" name="location-name" placeholder="ex: ma01" value="<%= @location.common_name %>">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="location-city">City</label>
        <div class="controls">
          <input id="location-city" name="location-city" placeholder="ex: Boston" value="<%= @location.city %>">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="location-state">State</label>
        <div class="controls">
          <input id="location-state" name="location-state" placeholder="ex: MA" value="<%= @location.state %>">
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
<% end %>
