<div class="row-fluid">
  <div class="span2">
    <ul class="nav nav-list">
      <li class="nav-header">Location Actions</li>
      <li><a href="#" onclick="load_util('/admin/location/create')"><i class="icon-plus"></i>Create new location</a></li>
    </ul>
  </div>
  <div class="span10">
    <header class="jumbotron subhead">
      <h1>Locations</h1>
      <p class="lead">Locations are separate datacenter "zones".</p>
    </header>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th style="width: 10%">Name</th>
          <th>Total Nodes</th>
          <th>HV CPUs Total</th>
          <th>HV CPUs Used</th>
          <th>HV CPUs Free</th>
          <th>HV CPU % Used</th>
          <th>HV RAM Total</th>
          <th>HV RAM Used</th>
          <th>HV RAM Free</th>
          <th>HV RAM % Used</th>
          <th>HV Disk Total</th>
          <th>HV Disk Used</th>
          <th>HV Disk Free</th>
          <th>HV Disk % Used</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% locations.each do |location| %>
          <tr>
            <td><%= location.to_link %></td>
            <td><%= location.nodes.count %></td>
            <% if location.hypervisors.size > 0 %>
              <td>
                <%= location.hypervisor_resources[:node_total_cpus] %>
              </td>
              <td>
                <%= location.hypervisor_resources[:node_running_cpus] %>
              </td>
              <td>
                <%= location.hypervisor_resources[:node_total_cpus] - location.hypervisor_resources[:node_running_cpus] %>
              </td>
              <td>
                <%= location.hypervisor_utilization[:cpu] %>%
              </td>
              <td>
                <%= "#{location.hypervisor_resources[:node_total_memory] / 1024 ** 3} GB" %>
              </td>
              <td>
                <%= "#{(location.hypervisor_resources[:node_total_memory] - location.hypervisor_resources[:node_free_memory]) / 1024 ** 3} GB" %>
              </td>
              <td>
                <%= "#{(location.hypervisor_resources[:node_free_memory]) / 1024 ** 3} GB" %>
              </td>
              <td>
                <%= location.hypervisor_utilization[:memory] %>%
              </td>
              <td>
                <%= "#{(location.hypervisor_resources[:free_disk] + location.hypervisor_resources[:used_disk]) / 1024 ** 3} GB" %>
              </td>
              <td>
                <%= "#{location.hypervisor_resources[:used_disk] / 1024 ** 3} GB" %>
              </td>
              <td>
                <%= "#{location.hypervisor_resources[:free_disk] / 1024 ** 3} GB" %>
              </td>
              <td>
                <%= location.hypervisor_utilization[:disk] %>%
              </td>
            <% else %>
              <td colspan="12">
                No hypervisors present in <%= location.common_name %>.
              </td>
            <% end %>
            <td><button onclick="load_util('/admin/location/<%= location.id %>/edit')" class="btn btn-mini"><i class="icon-pencil"></i> Edit</button> <button onclick="load_util('/admin/location/<%= location.id %>/delete')" class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Delete</button></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
