<div class="row-fluid">
  <% if is_admin? %>
    <div class="span2">
      <%= erb :networks_admin_menu %>
    </div>
  <% end %>
  <div class="span10">
    <header class="jumbotron subhead">
      <h1>Networks</h1>
      <p class="lead">Subnets we know about.</p>
    </header>
    <% unless @lonely_addresses.empty? %>
      <section id="lonely-addresses">
        <div class="page-header">
          <h3>Lonely addresses</h3>
          <small>IP addresses with no network association</small>
        </div>

        <table class="table table-condensed table-bordered table-striped">
          <thead>
            <tr>
              <th style="width: 10%">IP Address</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% @lonely_addresses.each do |address| %>
              <tr>
                <td><%= address.ip_address.to_s %></td>
                <td><%= address.display.human_empty %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
    <% end %>
    <% locations.each do |location| %>
      <section id="<%= html_id(location.common_name) %>">
        <div class="page-header">
          <h3><%= location.common_name.upcase %> <small><%= location.city.downcase %>, <%= location.state.downcase %></small></h3>
        </div>
        <% if location.networks.size > 0 %>
          <table class="table table-condensed table-bordered table-striped">
            <thead>
              <tr>
                <th style="width: 10%">CIDR</th>
                <th style="width: 55%">Description</th>
                <th style="width: 10%">VLAN ID</th>
                <th style="width: 10%">Usage</th>
                <% if is_admin? %><th style="width: 15%">Actions</th><% end %>
              </tr>
            </thead>
            <tbody>
              <% location.networks.each do |network| %>
                <tr>
                  <td><%= network.to_link %></td>
                  <td><%= network.description.human_empty %></td>
                  <td><%= network.vlan_id.to_s.human_empty %></td>
                  <td><%= network.usage %>%</td>
                  <% if is_admin? %>
                    <td>
                      <button onclick="load_util('/network/<%= network.id %>/edit');" class="btn btn-mini"><i class="icon-pencil"></i> Edit</button>
                      <button onclick="load_util('/network/<%= network.id %>/delete');" class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Delete</button>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p class="muted"><em>No known subnets.</em></p>
        <% end %>
      </section>
    <% end %>
  </div>
</div>

<script>
  $('#networks').addClass('active');
</script>
