<script>
  $('#allocate-ip').modal();
  function ip_allocator(address) {
    if (typeof address === 'undefined') {
      $.get('/api/network/<%= @network.id %>/next_ip', function(data) {
        $('#ip-address').val(data.next_ip);
        $('#allocate-ip').modal('show');
      });
    } else {
      $('#ip-address').val(address);
      $('#allocate-ip').modal('show');
    }
  }
</script>

<% if @network %>
  <div class="row-fluid">
    <div class="span2">
      <ul class="nav nav-list">
        <li class="nav-header">Network Actions</li>
        <li><a href="#" onclick="ip_allocator();"><i class="icon-plus"></i>Allocate new address</a></li>
      </ul>
    </div>

    <div class="span10">
      <header class="jumbotron subhead">
        <h1>Network <%= @network.address.to_cidr %></h1>
        <p class="lead"><%= @network.description %></p>
      </header>

      <section id="allocated">
        <div class="page-header">
          <h3>Allocated Addresses</h3>
        </div>
        <% if @network.addresses.size > 0 %>
          <table class="table table-condensed table-bordered table-striped">
            <thead>
              <tr>
                <th style="width: 10%">IP Address</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% @network.addresses.each do |address| %>
                <tr>
                  <td><%= address.ip_address.to_s %></td>
                  <td><%= address.display.human_empty %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p class="muted"><em>No addresses have been allocated.</em></p>
        <% end %>
      </section>

    </div>
  </div>

  <div class="modal hide" id="allocate-ip">
    <form class="form-horizontal" method="post" action="/network/<%= @network.id %>/allocate">
      <input type="hidden" name="_method" value="put">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Allocate an IP address</h3>
      </div>

      <div class="modal-body">
        <div class="control-group">
          <label class="control-label" for="ip-description">Description</label>
          <div class="controls">
            <input id="ip-description" name="ip-description" placeholder="why do you need this?">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">IP Address</label>
          <div class="controls">
            <input id="ip-address" name="ip-address">
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Allocate</button>
      </div>

    </form>
  </div>
<% end %>
