<script>
  $('#networks').addClass('active');
</script>

<div class="row-fluid">
  <% if is_admin? %>
    <div class="span2">
      <%= erb :networks_admin_menu %>
    </div>
  <% end %>
  <div class="span10">
    <header class="jumbotron subhead">
      <h1>Networks</h1>
      <p class="lead">Subnets we know about.</p>
    </header>
    <% locations.each do |location| %>
      <section id="<%= html_id(location.common_name) %>">
        <div class="page-header">
          <h3><%= location.common_name.upcase %> <small><%= location.city.downcase %>, <%= location.state.downcase %></small></h3>
        </div>
        <% if location.networks.size > 0 %>
          <table class="table table-condensed table-bordered table-striped">
            <thead>
              <tr>
                <th style="width: 10%">CIDR</th>
                <th style="width: 80%">Description</th>
                <th style="width: 10%">VLAN ID</th>
              </tr>
            </thead>
            <tbody>
              <% location.networks.each do |network| %>
                <tr>
                  <td><%= network.to_link %></td>
                  <td><%= network.description.human_empty %></td>
                  <td><%= network.vlan_id.to_s.human_empty %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p class="muted"><em>No known subnets.</em></p>
        <% end %>
      </section>
    <% end %>
  </div>
</div>
