<header class="jumbotron subhead">
  <h1>New Devices</h1>
  <p class="lead">The following devices need to be provisioned.</p>
</header>
<div class="row-fluid">
  <div class="span10">
    <% locations.includes(:devices).each do |location| %>
      <% if location.devices.where(:provisioned => false).size > 0 %>
        <section id="<%= html_id(location.common_name) %>">
          <div class="page-header">
            <h3><%= location.common_name.upcase %> <small><%= location.city.downcase %>, <%= location.state.downcase %></small></h3>
          </div>
          <% model_array = [] %>
          <% location.devices.where(:provisioned => false).each do |device| %>
            <% model_array.push(device.model) %>
          <% end %>
          <h4>Device Counts</h4>
          <table class="table table-condensed table-striped table-sort-no-filter-input">
            <tr>
              <th>Model</th>
              <th>Count</th>
            </tr>
            <% model_array.reduce(Hash.new(0)) do |memo,object| %>
              <% memo[object] += 1 %>
              <% memo %>
            <% end.each do |key,value| %>
              <tr>
                <td><%= key %></td>
                <td><%= value %></td>
              </tr>
            <% end %>
          </table>
          <hr />
          <h4>Device List</h4>
          <table class="table table-condensed table-striped table-sort-no-filter-input">
            <tr>
              <th>Model</th>
              <th>Serial</th>
              <th>eth0 MAC</th>
              <th>BMC IP</th>
              <th>Connected To</th>
            </tr>
            <% model_array = [] %>
            <% location.devices.where(:provisioned => false).each do |device| %>
              <tr>
                <td><%= device.model %></td>
                <td><%= device.serial_number.upcase %></td>
                <td><code><%= device.primary_mac_address.upcase %></code></td>
                <td><code><%= device.bmc_ip_address %></code></td>
                <td><%= device.switch_name %></td>
              </tr>
            <% end %>
          </table>
        </section>
      <% end %>
    <% end %>
  </div>
</div>