<% if @node %>
  <div class="row-fluid">
    <% if is_admin?  || is_server_admin? %>
      <div class="span2">
        <%= erb :node_admin_menu %>
      </div>
    <% end %>
    <div class="span10">
      <header class="jumbotron subhead">
        <h1><%= @node.hostname %></h1>
        <p class="lead">Last checked in <%= (Time.now - @node.updated_at).to_i / 60 %> minutes ago at <%= @node.updated_at.localtime.strftime("%R on %D") %> <% unless @node.active %><span class="badge badge-important">dead node</span><% end %></p>
      </header>
      <section id="comments">
        <div class="page-header">
        <h3>Comments</h3>
        </div>
            <table class="table table-striped table-bordered ">
              <thead>
                <tr>
                  <th style="width: 5%"></th>
                  <th style="width: 25%">Date</th>
                  <th style="width: 70%">Comment</th>
                </tr>
              </thead>
              <tbody>
              <% @node.node_comments.each do |comment| %>
                <tr>
                  <td><form method="post" action="/node/<%= @node.id %>/comment/delete/<%= comment.id %>" class="form-inline" style="float: left; margin: 0 0 0 5px;"><input type="hidden" name="_method" value="delete"><button type="submit" class="btn btn-mini btn-danger">Delete</button></form></td>
                  <td><%= comment.created_at %></td>
                  <td><%= comment.comment %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
        <form class="form-search" method="post" action="/node/<%= @node.id %>/comment/add">
          <fieldset>
            <input type="text" class="input-medium search-query" placeholder="Add Comment..." name='commenttext' />
            <button type="submit" class="btn">Add</button>
          </fieldset>
        </form>
      </section>

      <section id="properties">
        <div class="page-header">
          <h3>Properties</h3>
          <small>Arbitrary properites associated with this node</small>
        </div>

        <% if @node.properties.except("puppet_classes").keys.size > 0 %>
          <table class="table table-condensed table-striped table-bordered">
            <thead>
              <tr>
                <th style="width: 10%">Key</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <% @node.properties.except("puppet_classes").keys.sort { |key_1,key_2| key_1 <=> key_2 }.each do |key| %>
                <tr>
                  <td><%= key %></td>
                  <td><%= @node.properties[key] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <em>None</em>
        <% end %>

      </section>
      <section id="general">
        <div class="page-header">
          <h3>General</h3>
        </div>
        <table class="table table-striped table-condensed table-bordered">
          <tbody>
            <tr>
              <td>Pod</td>
              <td><%= display_pod_link(@node) %></td>
            </tr>
            </tr>
            <tr>
              <td style="width: 200px">Operating System</td>
              <td><%= @node.facts['operatingsystem'] %> <%= @node.facts['operatingsystemrelease'] %></td>
            </tr>
            <tr>
              <td>Hardware Model</td>
              <td><%= @node.facts['productname'].human_empty %></td>
            </tr>
            <tr>
              <td>Serial Number</td>
              <td><%= @node.serial_number %></td>
            </tr>
            <tr>
              <td>Uptime</td>
              <td><%= @node.facts['uptime'].human_empty %></td>
            </tr>
            <tr>
              <td>Total Memory</td>
              <td><%= @node.facts['memorytotal'].human_empty %></td>
            </tr>
            <tr>
              <td>Processor Count</td>
              <td><%= @node.facts['processorcount'].human_empty %></td>
            </tr>
            <tr>
              <td>Primary IP Address</td>
              <td><%= @node.facts['ipaddress'].human_empty %> / <%= @node.facts['netmask'].human_empty %></td>
            </tr>
            <tr>
              <td>Primary MAC Address</td>
              <td><%= @node.primary_mac_address.human_empty %></td>
            </tr>
            <tr>
              <% if @node.virtual %>
                <td>Hypervisor Host</td>
                <td><%= display_unstyled_list_from_array(@node.find_hypervisor_host) %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </section>
      <% if @node.type == 'Optopus::Hypervisor' && @node.libvirt_data.include?('domains') %>
        <section id="hypervisor">
          <div class="page-header">
            <h3>Hypervisor Data</h3>
            <small>Available resources on this Hypervisor (data gathered from the libvirtd mcollective agent)</small>
          </div>
          <% if @node.libvirt_data.include?('cpu_utilization') || @node.libvirt_data.include?('memory_utilization')  || @node.libvirt_data.include?('disk_utilization') %>
          <% # set our variables up here for cleanliness %>


            <table class="table table-condensed">
              <% if @node.libvirt_data.include?('cpu_utilization') %>
                <tr>
                  <td style="width: 150px">
                    Allocated CPU
                    <br />
                    <%= @node.libvirt_data["node_running_cpus"] %> core(s) of <%= @node.libvirt_data["node_total_cpus"] %> used
                  </td>
                  <td>
                    <div class="progress <%= progress_style(@node.libvirt_data['cpu_utilization'].to_i) %>">
                      <div class="bar" style="width: <%= @node.libvirt_data['cpu_utilization'] %>%">
                        <%= @node.libvirt_data['cpu_utilization'] %>%
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
              <% if @node.libvirt_data.include?('memory_utilization') %>
                <tr>
                  <td style="width: 150px">
                    Allocated RAM
                    <br />
                    <%= (((@node.libvirt_data["node_total_memory"]) * 1024) - @node.libvirt_data["node_free_memory"]) / (1024 ** 3) %> GB of <%= (@node.libvirt_data["node_total_memory"]) / (1024 ** 2) %> GB used
                  </td>
                  <td>
                    <div class="progress <%= progress_style(@node.libvirt_data['memory_utilization'].to_i) %>">
                      <div class="bar" style="width: <%= @node.libvirt_data['memory_utilization'] %>%">
                        <%= @node.libvirt_data['memory_utilization'] %>%
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
              <% if @node.libvirt_data.include?('disk_utilization') %>
                <tr>
                  <td style="width: 150px">
                    Allocated Disk
                    <br />
                    <%= @node.libvirt_data["used_disk"] / (1024 ** 3) %> GB of <%= (@node.libvirt_data["used_disk"] + @node.libvirt_data["free_disk"]) / (1024 ** 3) %> GB used
                    </td>
                  <td>
                    <div class="progress <%= progress_style(@node.libvirt_data['disk_utilization'].to_i) %>">
                      <div class="bar" style="width: <%= @node.libvirt_data['disk_utilization'] %>%">
                        <%= @node.libvirt_data['disk_utilization'] %>%
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </table>
          <% end %>
          <table class="table table-condensed table-striped table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Domain</th>
                <th>Memory</th>
                <th>CPU Count</th>
                <th>State</th>
                <th>VNC Port</th>
                <th>Autostart</th>
              </tr>
            </thead>
            <tbody>
              <% @node.domains.each do |domain| %>
                <tr>
                  <td><%= domain.id %></td>
                  <td><%= domain.to_link %></td>
                  <td><%= domain.memory %></td>
                  <td><%= domain.cpu_count %></td>
                  <td><%= domain.state %></td>
                  <td><%= domain.vnc_port %></td>
                  <td><%= domain.autostart %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </section>
      <% end %>
      <% node_partials.each do |partial| %>
        <!-- <%= partial[:template] %> -->
        <section id="<%= html_id(partial[:template].to_s) %>">
          <%= erb partial[:template] %>
        </section>
      <% end %>
      <section id="facts">
        <div class="page-header">
          <h3>Facts</h3>
        </div>
        <table class="table table-condensed table-striped table-bordered">
          <thead>
            <tr>
              <th>Key</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <% @node.facts.keys.sort { |a,b| a <=> b }.each do |key| %>
              <tr>
                <td><%= key %></td>
                <td><%= @node.facts[key] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
    </div>
  </div>
<% end %>
