<header class="jumbotron subhead">
  <h1>Search Results</h1>
  <p class="lead"><%= @results.inject(0) { |n, r| n += r[:results].size; n } %> results for <%= @search_query %></p>
</header>

<% @results.each do |result_set| %>
  <h3><%= result_set[:type] %></h3>
  <ul class="unstyled">
    <!-- <%= result_set[:type] %> -->
    <% result_set[:results].each do |result| %>
      <li><a href="/<%= result_set[:type] %>/<%= result.uuid %>"><%= (result_set[:type] == :node) ? result.hostname : result.serial_number %></a></li>
    <% end %> 
  </ul>
<% end %>
