<% if @search_query %>
<script>
  $('#search-query').val('<%= @search_query %>');
</script>
<% end %>
<header class="jumbotron subhead">
  <h1>Search Results</h1>
  <p class="lead"><%= @results.inject(0) { |n, r| n += r[:result_set].size; n } %> results for <%= @search_query %></p>
</header>

<% @results.each do |result| %>
  <h3><%= result[:type] %></h3>
  <!-- <%= result[:type] %> -->
  <ul class="unstyled">
    <% result[:result_set].each do |item| %>
      <li><%= item.to_hash[result[:display_key]] %></li>
    <% end %>
  </ul>
<% end %>
