<div class="row-fluid">
  <% if @admin_self %>
    <div class="span2">
      <%= erb :user_profile_menu %>
    </div>
  <% end %>
  <div class="<%= @admin_self ? 'span10' : 'span12' %>">

    <section id="general">
      <header class="jumbotron subhead">
        <img class="pull-left" style="padding-right: 10px" src="<%= @show_user.gravatar_url %>">
        <h1><%= @show_user.display_name %></h1>
        <small class="muted"><%= @show_user.roles.map { |r| r.name }.join(', ') %></small>
      </header>
    </section>

    <% user_profile_partials.each do |partial| %>
      <!-- <%= partial[:template] %> -->
      <section id="<%= html_id(partial[:template].to_s) %>">
        <%= erb partial[:template] %>
      </section>
    <% end %>

    <section id="events">
      <h3>Latest Events</h3>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Created</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <% @show_user.latest_events.each do |event| %>
            <tr>
              <td><%= event.id %></td>
              <td><%= event.created_at.strftime("%D %R") %></td>
              <td><%= event.rendered_message %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  </div>
</div>
