<h2><%= @show_user.display_name %></h2>
<table class="table table-condensed">
  <tbody>
    <tr>
      <th>Username</th>
      <td><%= @show_user.username %></td>
    </tr>
    <tr>
      <th>Roles</th>
      <td>
        <ul class="unstyled">
          <% @show_user.roles.each do |role| %>
            <li><%= role.name %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<h3>Events</h3>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <% @show_user.events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.created_at.strftime("%D %R") %></td>
        <td><%= event.rendered_message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
